<div layout="row" layout-padding class="bg-dark-blue nav-dark" layout-align="space-between center">
  <div>
    <button mat-button>foo</button>

  </div>


<div class="collapse navbar-collapse" id="travelcafe-navigation-bar">
  <ul class="nav navbar-nav">
    <li>
      <a routerLink='/' class="link">Dashboard</a>
    </li>
    <li>
      <a routerLink='/flights' class="link">Flüge</a>
    </li>
    <li>
      <a routerLink='/hotels' class="link">Hotels</a>
    </li>
    <li>
      <a routerLink='/tours' class="link">Touren</a>
    </li>
    <li>
      <a routerLink='/offers' class="link">Angebot</a>
    </li>
  </ul>
</div>

<div class="content">
  <router-outlet></router-outlet>
</div>
-->
